#App

## Redis
REDIS__URL=redis://localhost:6379

## Scraper
SCRAPER__URL=http://93.92.65.26/aspx/Gorod.htm
SCRAPER__INTERVAL=300

## Storage
STORAGE__TTL_DAYS=5
STORAGE__PREFIX=bot-005

## Publisher
PUBLISHER__PREFIX=bot-005

# Actions
AWS_REGION=
AWS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_ENDPOINT=
